:root {
  --paddingBase: 4px;
}

.App {
  padding: calc(var(--paddingBase) * 5);
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
}

/* Bubbles */
.bubble {
  display: inline-block;
  padding: calc(var(--paddingBase) * 3) calc(var(--paddingBase) * 4);

  background-color: #cacaca;
  border-radius: 20px;
}
.bubble-question {
  margin-bottom: calc(var(--paddingBase) * 2);
  text-align: left;
  border-bottom-left-radius: 0;
}
.bubble-answer {
  margin-right: calc(var(--paddingBase) * 2);
  background: #125190;
  color: white;
  cursor: pointer;
  border-bottom-right-radius: 0;
  text-decoration: none;
}
.bubble-answer:hover,
.bubble-answer:focus {
  /* A11y!!! */
  outline: 2px solid orangered;
}

/* Blocks */
article {
}
.question:not(:last-of-type) {
  padding-bottom: calc(var(--paddingBase) * 4);
  border-bottom: 1px solid #ddd;
}
.answer {
  text-align: center;
}
